table {
  width: 100%;
}

.loading-spinner{
  background-color: rgb(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.doguinho {
  background-image: url("../../../assets/images/doguinho.svg");
  background-repeat: no-repeat;
  background-position: 0 4px;
  background-size: 40px;
  cursor: pointer;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
}

::ng-deep .mat-card,
.search {
  padding: 0px 16px 0px 16px !important;
}

.search {
  padding-top: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

td.td-button,
th.th-button {
  width: 80px;
}

td.td-button button,
th.th-button button{
  margin-left: 30px;
}